@import './mixins'; /* Mixins */
@import './variables'; /* Variables */
@import './button'; /* Multiple files with import */

* {
    margin: 0px;
    padding: 0px;
}
body {
    background: $bg-dark;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}
#header {
    background: black;
    padding: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    h1 { /* Nesting */
        color: $blue-text;
    }
}

#data-container {
    margin-top: 50px;

    .todo-container {
        @include flexCenter(none); /* Mixins with parameters */

        border: 1px solid $blue-text;
        margin: 5px;
        color: $light-blue;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        flex-wrap: wrap;

        div {
            width: 100%;
            margin: 3px;
        }
    }
}

footer {
    @extend #header; /* Extensions */
    color: white;
    margin-top: 25px + 25px; /* Math Calculations */
    background: darkblue; /* Overwrite extensions */
}